@page "/"
@using f1Telemetry.UI.Services
@inject UDPService _service

<PageTitle>Index</PageTitle>

<h1>F1 Telemetry!</h1>

<p>
    @UDPService.Test
</p>

@code {


    protected override void OnInitialized()
    {
        Task.Run(() => {
            while (true) {
                UDPService.Count();
            }
        });
        UDPService.Count();
    }
}
