@page "/"
@using f1Telemetry.UI.Services
@inject UDPService _service

<PageTitle>Index</PageTitle>

<h1>F1 Telemetry!</h1>

<input type="text" @bind=@_service.MotionPacket />

<p>
    @UDPService.Test
</p>

@code {


    protected override void OnInitialized()
    {
        _service.Listen();
    }
}
