@page "/"
@using f1Telemetry.UI.Services
@inject UDPService _service

<PageTitle>Index</PageTitle>

<h1>F1 Telemetry!</h1>

<p>
    @m_sector1TimeInMS
</p>

@code {
    private ushort m_sector1TimeInMS;

    protected override void OnInitialized()
    {
        m_sector1TimeInMS = _service.lapDataPacket.m_header.m_packetFormat;
    }
}
