@page "/"
@using f1Telemetry.UI.Services
@inject UDPService _service

<PageTitle>Index</PageTitle>

<h1>F1 Telemetry!</h1>

<p>
    @number
</p>

@code {
    private int number;

    protected override void OnInitialized()
    {
        number = 1;
    }
}
